@import url(./normalize.css);
@import url(./skeleton.css);
.flexrow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

ul {
  list-style-type: none; }
  ul li {
    margin: 0; }

.header .navbar, .header .authbar {
  list-style-type: none; }
  .header .navbar li, .header .authbar li {
    padding-right: 1em;
    margin: 1em;
    display: inline-block;
    cursor: pointer; }
    .header .navbar li a, .header .authbar li a {
      text-decoration: none;
      color: blue; }
      .header .navbar li a:hover, .header .authbar li a:hover {
        color: deepskyblue; }
    .header .navbar li .activePage, .header .authbar li .activePage {
      font-weight: bold;
      color: deepskyblue; }
.header .navbar {
  white-space: nowrap;
  overflow-x: scroll; }
  .header .navbar .creationLink {
    color: rgba(0, 128, 0, 0.5); }
    .header .navbar .creationLink:hover {
      color: rgba(0, 128, 0, 0.5); }
.header .authbar {
  text-align: right; }
  .header .authbar .authLightOff {
    height: 15px;
    z-index: 1;
    float: right;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid black; }
  .header .authbar .authLightOn {
    height: 15px;
    z-index: 1;
    float: right;
    border-radius: 50%;
    background-color: rgba(0, 128, 0, 0.5);
    border: 2px solid black;
    box-shadow: 0 0 25px rgba(0, 128, 0, 0.5); }

form * {
  display: block; }
form textarea {
  width: 100%;
  resize: vertical; }

.button-danger {
  color: red;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid red; }
  .button-danger:hover {
    color: rgba(255, 255, 255, 0.5);
    background-color: red;
    border: 1px solid rgba(0, 0, 0, 0.5); }

.standardForum {
  cursor: pointer;
  text-align: center;
  padding: 10px;
  border-bottom: 1px ridge rgba(0, 0, 0, 0.5); }
  .standardForum:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); }

.standardPost {
  padding: 5px;
  border-bottom: 1px ridge rgba(0, 0, 0, 0.5); }
  .standardPost .itemLink {
    cursor: pointer; }

.standardForumComment {
  padding: 10px;
  border-bottom: 1px ridge rgba(0, 0, 0, 0.5);
  text-align: center; }

.standardUser {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  border-bottom: 1px ridge rgba(0, 0, 0, 0.5); }
  .standardUser:Hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); }

.edit {
  text-decoration: none;
  color: deepskyblue; }

.app {
  height: 100vh; }
  .app .pageHeader {
    border-bottom: 1px groove rgba(0, 0, 0, 0.5);
    margin-bottom: 2%; }
  .app .itemContent {
    text-align: center; }
  .app .homePage, .app .forumsPage, .app .forumPage, .app .forumPostPage, .app .profilePage {
    padding: 1%; }
  .app .profilePage {
    height: 100%; }
    .app .profilePage .avatar {
      display: inline-block;
      height: 250px;
      width: 250px;
      padding: 5px; }
      .app .profilePage .avatar img {
        height: 100%;
        width: 100%; }
    .app .profilePage .info {
      display: inline-block; }
    .app .profilePage .connections {
      height: 50%; }
      .app .profilePage .connections .connectionBox {
        height: 100%; }
        .app .profilePage .connections .connectionBox ul {
          padding: 10px;
          height: 100%;
          overflow-y: scroll; }
          .app .profilePage .connections .connectionBox ul border {
            top: 1px solid rgba(0, 0, 0, 0.5);
            right: 1px solid rgba(0, 0, 0, 0.5); }

/*# sourceMappingURL=index.css.map */
